<%- include("partials/header") -%>

<div class="container text-center border">
    Fa = <%= Fa %>
    Fb = <%= Fb %>
    Na = <%= Na %>
    Nb = <%= Nb %>
    Ca0 = <%= Ca0 %>
    Cb0 = <%= Cb0 %>
    temp = <%= temp %>
    k = <%= k %>  
</div>

<%- include("partials/footer") -%>